@charset "utf-8";
/* CSS Document */

@media all and (min-width: 37.5em) {
	.banner-icon {
		width: 80px;
	}
	
	.nav-gallery {
		flex-direction: row;
	}
	
	.gallery-container {
		width: 33%;
	}
	
	.nav-image {
		height: 125px;
		width: 100%;
	}
	
	.home-image {
		height: 300px;
	}
	
	.home-image h1 {
		font-size:  2em;
	}
	
	.home-image h2 {
		font-size:  1.5em;
	}
	
	.banner {
		height: 80px;
	}
	
	.top-nav {
		flex-direction: row;
		justify-content: space-between;
	}
	
	.nav-icon {
		display: block;
		margin: 0 auto;
		height: 60px;
		width: 100px;
	}
	
	.nav-item {
		text-align: center;
		position: relative;
		align-items: center;
	}
	
	.nav-item h2 {
		text-align: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	
	.summary {
		width: 80%;
		margin: 0 auto;
	}
}

@media all and (min-width: 53.75em) {
	.lesson-container {
		flex-direction: row;
		justify-content: flex-end;
		position: relative;
	}
	
	.lesson-box {
		width: 50%;
		padding: 0 20px;
	}
	
	.lesson-container:nth-child(2n) {
		flex-direction: row-reverse;
	}
	
	.lesson-image {
		height: 100%;
		width: 50%;
	}
	
}

@media all and (min-width: 58.75em) {
	.home-image {
		height: 325px;
	}
	
	.home-image h1 {
		font-size:  2.5em;
	}
	
	.home-image h2 {
		font-size:  2em;
	}
	
	.nav-image {
		height: 150px;
		width: 280px;
	}
	
	.nav-icon {
		width: 125px;
	}
	
	.top-nav {
		justify-content: flex-end;
	}
	
	.nav-item {
		padding: 0 10px;
	}
	
	.home-flex {
		margin-right: auto;
	}
	
	.main-content {
		min-height: calc(100vh - 80px);
	}
	
	.summary {
		width: 70%;
	}
	
	.headline {
		align-self: flex-start;
		
	}
	
	.about-flex {
		flex-direction: row-reverse;
	}
	
	.about-content {
		width: 55%;
	}
	
	.about-image {
		width: 300px;
	}
}

@media all and (min-width: 81.25em) {
	.home-content {
		min-height: calc(100vh - 125px);
	}
	
	#main-banner {
		height: 125px;
	}
	
	.banner-icon {
		width: 100px;
	}
	
	.home-image {
		height: 375px;
	}
	
	.home-image h1 {
		font-size:  3em;
	}
	
	.home-image h2 {
		font-size:  2em;
	}
	
	.nav-item {
		padding: 0 40px;
	}
	
	.about-image {
		width: 375px;
	}
}






