@charset "utf-8";
/* CSS Document */

@media all and (min-width: 37.5em) {
	.banner-icon {
		width: 80px;
	}
	
	.nav-gallery {
		flex-direction: row;
	}
	
	.gallery-container {
		flex-basis: 33%;
	}
	
	.nav-image {
		height: 150px;
		width: 100%;
	}
	
	.home-image {
		height: 300px;
	}
	
	.home-image h1 {
		font-size:  2em;
	}
	
	.home-image h2 {
		font-size:  1.5em;
	}
	
	.banner {
		height: 80px;
	}
	
	.top-nav {
		flex-direction: row;
		justify-content: space-between;
	}
	
	.nav-icon {
		display: block;
		margin: 0 auto;
		height: 60px;
		width: 100px;
	}
	
	.nav-item {
		text-align: center;
		position: relative;
		align-items: center;
	}
	
	.nav-item h2 {
		text-align: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

/*@media all and (min-width: 53.75em) {
	
}*/

@media all and (min-width: 58.75em) {
	.home-image {
		height: 325px;
	}
	
	.home-image h1 {
		font-size:  2.5em;
	}
	
	.home-image h2 {
		font-size:  2em;
	}
	
	.nav-image {
		width: 280px;
	}
	
}

@media all and (min-width: 81.25em) {
	#main-content {
		min-height: calc(100vh - 125px);
	}
	
	#main-banner {
		height: 125px;
	}
	
	.banner-icon {
		width: 100px;
	}
	
	.home-image {
		height: 375px;
	}
	
	.home-image h1 {
		font-size:  3em;
	}
	
	.home-image h2 {
		font-size:  2em;
	}	
}






