@charset "utf-8";
/* CSS Document */

@media all and (min-width: 37.5em) {
	.banner-icon {
		width: 80px;
	}
	
	.nav-gallery {
		flex-direction: row;
	}
	
	.gallery-container {
		width: 33%;
	}
	
	.gallery-container img {
		height: 150px;
	}
	
	.home-image {
		height: 300px;
	}
	
	.home-image h1 {
		font-size:  2em;
	}
	
	.home-image h2 {
		font-size:  1.5em;
	}
}

@media all and (min-width: 53.75em) {
	.gallery-container img {
		width: 220px;
	}
}

@media all and (min-width: 58.75em) {
	.home-image {
		height: 325px;
	}
	
}

@media all and (min-width: 81.25em) {
	
}